.App {
  text-align: center;
  align-items: center;
}

.Header {
  text-align: center;
  align-items: center;
  color: #05b8ff;
}

.Channel {
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 3px 12px #c2c2c2;
  background-color: white;
  width: 20%;
}

.channel-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.channel-fader-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.Channel button {
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: 16pt;
  background-color: #000000;
  cursor: pointer;
  margin: 5px;
}
